node_modules/
.next/
dist/

.env.local
.env*.local

PatientPortal*/

next-dev.log
next-dev.err.log
vite-dev.log
vite-dev.err.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

.vercel
